* {
    background-color: #88cbd3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header,
.gridContainer,
.gridBlock {
    background-color: white;
}

.header {
    width: 550px;
    border: solid black 3px;
    border-bottom: 0px;
    margin: auto;
    font-size: 28px;
    text-align: center;
}

.gridContainer {
    width: 550px;
    height: 550px;
    border: solid black 3px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gridBlock {
    aspect-ratio: 1 / 1;
    border: solid .5px black;
    display: flex;
}